.titleskills{
    color: rgb(73, 97, 220);
    font-weight: 800;
    font-size:xx-large;
    margin-bottom: 100px;
    margin-top: 150px;
    
}
.skills {
    display: flex;
    flex-wrap: wrap; /* Permite que os ícones quebrem linha quando não couberem */
    justify-content: center; /* Centraliza os itens na div */
    gap: 90px; /* Espaçamento entre os ícones */
    max-width: 100%; /* Limita a largura para não estourar */
    overflow: hidden; /* Evita que o conteúdo "vaze" */
    padding: 10px;
}

