body {
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.info{
    text-align: left;
    margin-top: 250px;
}
.info p{
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
}
.info h1{
    margin: 0;
    font-family: 'Sen', sans-serif;
    font-size: 2.9rem;
    font-weight: 900;
}
.info span{
    letter-spacing: 2.5px;
    font-family: 'Sen', sans-serif;
    font-size: 18px;
}
.cv{
    background: linear-gradient(134deg, rgb(73, 97, 220) 0%, rgb(20, 33, 52) 99%);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    width: 44%;
    height: auto;
    font-size: 12px;
    margin-top: 40px;
    padding: 12px;
    border-radius: 5px;
    text-align: center;
}
.cv a{
    color: rgb(248, 248, 248);   
    font-size: 15px;
    font-weight: 400;
}
.social{
    display: flex;
    justify-content: flex-end;
    width: 44%;
}
.social a{
    margin-right: 20px;
}

.backimage{
    width: 40%;
    flex: 1;
}

.svg-rect{
    width: 40%;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: -1;
}
.cardtext{
    background-color: rgb(248, 248, 248);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 15px;
    text-align: left;
    display: flex;
    align-items: center;
    height: 250px;
    width: 250px;
    padding: 40px;
    margin-top: 200px;
}
pre{
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
}
.keyword {
    color: red;
    font-weight: normal;
}
.keyword1{
    color: blueviolet;
    font-weight: bold;
}