section{
    margin-top: 100px;

}
.titleabout{
    color: rgb(73, 97, 220);
}
.cardabout{
    margin-top: 100px;
    display: flex;
    background-color: rgb(73, 97, 220);
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    
}
figure img{
    width: 200px;
    border-radius: 50%;
   
    border: solid 5px white;
}
.infoabout{
    text-align: left;
    padding: 80px;
}
.infoabout a{
    text-decoration: none;
    color: black;
}
.infoabout p{
    color: white;
}

